
@font-face {
  font-family: 'f-regular';
  src: url('../fonts/HelveticaNeueLTGEO-55Roman.eot');
  src: url('../fonts/HelveticaNeueLTGEO-55Roman.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTGEO-55Roman.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTGEO-55Roman.woff') format('woff'),
      url('../fonts/HelveticaNeueLTGEO-55Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'f-heavy';
  src: url('../fonts/HelveticaNeueLTGEO-85Heavy.eot');
  src: url('../fonts/HelveticaNeueLTGEO-85Heavy.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTGEO-85Heavy.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTGEO-85Heavy.woff') format('woff'),
      url('../fonts/HelveticaNeueLTGEO-85Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'f-black';
  src: url('../fonts/HelveticaNeueLTGEO-95Black.eot');
  src: url('../fonts/HelveticaNeueLTGEO-95Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTGEO-95Black.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTGEO-95Black.woff') format('woff'),
      url('../fonts/HelveticaNeueLTGEO-95Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'f-medium';
  src: url('../fonts/HelveticaNeueLTGEO-65Medium.eot');
  src: url('../fonts/HelveticaNeueLTGEO-65Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTGEO-65Medium.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTGEO-65Medium.woff') format('woff'),
      url('../fonts/HelveticaNeueLTGEO-65Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'f-bold';
  src: url('../fonts/HelveticaNeueLTGEO-75Bold.eot');
  src: url('HelveticaNeueLTGEO-75Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTGEO-75Bold.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTGEO-75Bold.woff') format('woff'),
      url('../fonts/HelveticaNeueLTGEO-75Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'f-regular-caps';
  src: url('../fonts/HelveticaNeueLTGEOCaps-55Rmn.eot');
  src: url('../fonts/HelveticaNeueLTGEOCaps-55Rmn.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTGEOCaps-55Rmn.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTGEOCaps-55Rmn.woff') format('woff'),
      url('../fonts/HelveticaNeueLTGEOCaps-55Rmn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'f-bold-caps';
  src: url('../fonts/HelveticaNeueLTGEOCaps-75Bold.eot');
  src: url('../fonts/HelveticaNeueLTGEOCaps-75Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTGEOCaps-75Bold.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTGEOCaps-75Bold.woff') format('woff'),
      url('../fonts/HelveticaNeueLTGEOCaps-75Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'f-medium-caps';
  src: url('../fonts/HelveticaNeueLTGEOCaps-65Med.eot');
  src: url('../fonts/HelveticaNeueLTGEOCaps-65Med.eot?#iefix') format('embedded-opentype'),
      url('../fonts/HelveticaNeueLTGEOCaps-65Med.woff2') format('woff2'),
      url('../fonts/HelveticaNeueLTGEOCaps-65Med.woff') format('woff'),
      url('../fonts/HelveticaNeueLTGEOCaps-65Med.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



:root {
  --primary-color: #103974;
  --secondary-color: rgba(16, 57, 116, 0.04);

  --header-color: #808080;
  --text-color:#9F9F9F;
  
  --fullhd-padding: 140px;
  --border-color:#B9B9B9;

}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


* {
  margin: 0;
  padding: 0;

}

body {
  -webkit-font-smoothing: antialiased;

}



img {
  width: 100%;
  height: 100%;
}

select,
input {
  border: none;
}

select {
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button {
  border: none;

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Changes the number field to behave like a text field */
}


article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}


.no-transition {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

a:hover {
  cursor: pointer;
}

body.no-scroll>*:not(.navigation):not(.hamburger) {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: -webkit-filter 0.3s ease;
  transition: -webkit-filter 0.3s ease;
  -o-transition: filter 0.3s ease;
  transition: filter 0.3s ease;
  transition: filter 0.3s ease, -webkit-filter 0.3s ease;
}

.no-scroll {

  overflow: hidden;
  /* Prevent scrolling */
  height: 100%;
  /* Ensure the height is full to avoid layout shifts */

}



/*
      6. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
  font: inherit;
}

::-moz-selection {
  color: white;
  /* Text color when selected */
  background: var(--secondary-color);
  /* Background color when selected */
}

::selection {
  color: white;
  background: var(--secondary-color);
  /* Background color when selected */
}

/*
      7. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
img{
  width: 100%;
  height: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
.icon {

  -webkit-mask-size: contain;
  background-color: #000000;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  cursor: pointer;
}
.fb{
  width: 11px;
  height: 18px;
  -webkit-mask-image: url('../images/fb.svg');
  mask-image: url('../images/fb.svg');
}

.linkedin {
  width: 16px;
  height: 16px;
  -webkit-mask-image: url('../images/linkedin.svg');
  mask-image: url('../images/linkedin.svg');
 
}
.whatsapp{
  width: 16px;
  height: 16px;
  -webkit-mask-image: url('../images/whatsapp.svg');
  mask-image: url('../images/whatsapp.svg');
}
.location{
  width: 16px;
  height: 16px;
  -webkit-mask-image: url('../images/location.svg');
  mask-image: url('../images/location.svg');
}
.phone{
  width: 16px;
  height: 16px;
  -webkit-mask-image: url('../images/phone.svg');
  mask-image: url('../images/phone.svg');
}
.mail{
  width: 16px;
  height: 16px;
  -webkit-mask-image: url('../images/mail.svg');
  mask-image: url('../images/mail.svg');
}
.pag-arr-left{
  width: 16px;
  height: 16px;
  -webkit-mask-image: url('../images/pag-arr-left.svg');
  mask-image: url('../images/pag-arr-left.svg');
}
.pag-arr-right{
  width: 16px;
  height: 16px;
  -webkit-mask-image: url('../images/pag-arr-right.svg');
  mask-image: url('../images/pag-arr-right.svg');
}


.navigation{
  background-color: var(--secondary-color);
  height: 220px;
  padding-inline: var(--fullhd-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 61px;
}
.logo{
  max-width: 306px;
  width: 100%;
}
nav{
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
  
}
nav ul{
  display: flex;
  gap: 40px;
}

.nav-bottom-wrapper{
  display: flex;
  justify-content: center;
  border-top: 1px solid rgba(162, 162, 162, 0.2);
  border-bottom: 1px solid rgba(162, 162, 162, 0.2);
  align-items: center;
  width: 992px;
}
.nav-top li a{
  font-size: 18px;
  font-family: 'f-regular';
}
.nav-bottom {
  background-color: white;
  gap:55px;
  padding-left: 67px;
  height: 38px;
  align-items: center;
  border-radius: 50px;
  border:1px solid #D9E9FF;
  font-family: 'f-regular-caps';
  
}

nav li:hover{
  color: var(--primary-color);
}
.call-req{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:var(--primary-color);
  border-radius: 50px;
  padding-inline: 40px;
  color: white;
  transition: 350ms ease;
  height:36px;
  border:1px solid inherit; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);


}
.call-req:hover{
  background-color: white;
  /* border: 1px solid #D9E9FF; */
  color: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);



}

.lang img{
  width: 26px;
  height: 26px;
}
.lang .lang-dropdown{
  height: 4.7px;
  width: 9px;
}
.navigation-socials{
  display: flex;
  align-items: center;
  gap: 45px;
  margin-bottom: 90px;
}
.nav-social-media{
  display: flex;
  align-items: center;
  gap: 20px;
}


.custom-dropdown {
  position: relative;
  display: flex;
  width: 50px;
  cursor: pointer;
  border: none;
  border-radius: 50px;
}

.selected-option {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 50px;

}

.selected-option img {
  width: 26px;
  height: 26px;
  margin-right: 8px;
}

.dropdown-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}
.selected-option  .dropdown-arr-langs{
  width: 8.7px;
  height: 4.35px;
}
.dropdown-options li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.dropdown-options li:hover {
  background: #f0f0f0;
}

.dropdown-options img {
  width: 20px;
  height: 14px;
  margin-right: 8px;
}

/* 
end of navigation
*/



/* 

text page
*/

.textpage{
  padding-inline: var(--fullhd-padding);
}
.textpage header p{
  font-size: 46px;
  color: var(--header-color);
  padding-top: 70px;
  padding-bottom: 40px;
font-family: 'f-regular-caps';
}
.textpage main{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.textpage-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left:2px solid #B9B9B9 ;
  padding: 5px 0px;

  padding-left: 80px;
  color: var(--header-color);
  max-width: 1012px;
  width: 100%;
  font-size: 16px;
}
.textpage-text{
  font-family: 'f-regular';
}
.textpage-img{
  width: 398px;
  height: 447px;
}
.textpage-lists{
  display: flex;
  padding-left: 80px;
  padding-top: 56px;
  gap: 65px;
  padding-bottom: 55px;
  
}
.textpage-lists li{
  margin-bottom: 7px;
  font-size: 18px;
  font-family: 'f-regular';
  color: var(--header-color);
}
.square-bullet{
  display: inline-block;
  width: 13px;
  height: 13px;
  background: var(--primary-color);
  opacity: 0.5;
  margin-right: 15px;
}

.textpage aside {
  color: var(--header-color);
  max-width: 1012px;
  width: 100%;
  padding-left: 80px;
  font-size: 18px;
  padding-bottom: 30px;
  font-family: 'f-regular';
}
.textpage aside h2{
  color: var(--header-color);
  font-size: 18px;
  font-family: 'f-bold-caps';
  padding-bottom: 5px;
}

footer{
  display: flex;
  margin-top: 60px;
  padding-inline: var(--fullhd-padding);
  padding-left: 61px;
  height: 434px;
  align-items: center;
  justify-content: space-between;
  background: var(--secondary-color);
}
footer header{
  color: var(--primary-color);
  font-family: 'f-medium-caps';
  margin-bottom: -12px;
  /* margin-top: -42px; */
}
footer ul{
  color: var(--header-color);
  font-family: 'f-regular';
}
footer ul li{
  padding: 5px 0;
  border-bottom: 1px solid #E8E8E8;
  position: relative;
}
.footer-icons-list a{
  display: flex;
  gap: 23px;
}
.footer-socials{
  display: flex;
  gap: 23px;
  border: none;
  margin-top: 2px;
}
.footer-logo{
  margin-bottom: 33px;
}
.footer-list{
  min-height: 120px;
  width: fit-content;
  flex: 1;
}
.footer-style-li{
  padding: 14.7px 0;
}
.footer-wa-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -30px;}
  
  .copyright{
    display: flex;
    padding-inline: var(--fullhd-padding);
    align-items: center;
    justify-content: space-between;
    height: 80px;
    font-family: "f-regular-caps";
    font-size: 16px;
    color: var(--header-color);
  }
  .shindi-logo{
    width: 60.5px;
    height: 20.4px;
  }

  .servicepage,
  .projectpage
  {
    padding-inline: var(--fullhd-padding);

  }
  .servicepage header p{
    font-size: 46px;
    color: var(--header-color);
    padding-top: 65px;
    padding-bottom: 65px;
  font-family: 'f-regular-caps';
  }
  .services{
    display: flex;
    width: 100%;
    flex-direction: column;
    border: 1px solid #9F9F9F;
    border-left: none;
  }
  .services-wrapper, .projects-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .service{
    display: flex;
    gap: 72px;
    align-items: center;
    height: 215px;
    border-bottom:1px solid #9F9F9F ;
    transition: 350ms ease;
  }
  .services li:last-child .service {
    border: none;
}
  .service p {
    font-size: 18px;
    color: var(--header-color);
    font-family: 'f-regular-caps';
  }
  .service-img{
    position: relative;
    height: 100%;
    width: 398px;
 
  }
  .service-img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    opacity: 0.5;
    transition: 350ms ease;

  }
  .service-arr{
    height: 49px;
    width: 24px;
    margin-left: 230px;
    transition: 950ms ease;
  }
  .service:hover .service-img .overlay{
    opacity: 0;
    
  }
  .service:hover{
    gap: 200px;
  }
  .service:hover p{
    color: var(--primary-color);

  }
 .pagination{
  display: flex;
  gap: 25px;

 color: var(--header-color);
 font-family: 'f-regular';
 }
 .pag-arr-left{
  margin-right: 15px;
 }
 .pag-arr-right{
  margin-left: 15px;
 }
 .pag-arr-left:hover{
  background-color: var(--primary-color);
 }
 .pag-arr-right:hover{
  background-color: var(--primary-color);
 }
 .pagination li:hover{
  color: var(--primary-color);
  text-decoration: underline;
 }
 .pag-active{
  text-decoration: underline;
  color: var(--primary-color);
 }

 .projectpage header p{
  font-size: 46px;
  color: var(--header-color);
  font-family: 'f-regular-caps';
  padding-top: 65px;
  padding-bottom: 65px;


 }

 .projects{
  display: flex;
  flex-wrap: wrap;
  row-gap: 100px;
  justify-content: space-between;
 }
 .projects li{
  
  width: 40%;
 
 }
 .project-img{
  box-sizing: border-box;
  position: relative;
  max-width: 703px;
  height: 450px;
  width: 100%;
  padding: 10px;
  transition: 350ms ease;

 }

 .project-img img{
  transition: 350ms ease;

 }
 .project:hover .project-img img{
  border-radius: 50px;
 }
 
 
 .project-img::before,
 .project-img::after{
  content: "";
  position: absolute;
  background:var(--border-color); 
  z-index: 2; 
 }
 .project-img::before{
  top: -20px;
  left:0;
  height:calc(100% + 90px);
  width: 1px

 }
 .project-img::after{
  top: -20px;
  right:0;
  height:calc(100% + 90px);
  width: 1px

 }
 .project-img span:nth-child(1){
  position: absolute;
  background:var(--border-color); 
  z-index: 2; 
  top:0;
  left:-20px;
  width:calc(100% + 40px);
  height: 1px

 }
 .project-img span:nth-child(2){
  position: absolute;
  background:var(--border-color); 
  z-index: 2; 
  bottom:0;
  left:-20px;
  width:calc(100% + 40px);
  height: 1px
 }
 .project-desc{
  display: flex;
  width: 100%;
  align-items: start;
  justify-content: space-between;
  padding: 20px;
 }
 .project-desc p{
  width: 80%;
  font-family: 'f-regular-caps';
  color: var(--text-color);
  transition: 350ms ease-in;
 }
 .project-arr{
  width: 19.65px;
  height: 19.65px;
  margin-right: 40px;
  transition: 250ms ease;
 }
 .project:hover .project-desc p{
  color: var(--primary-color);

 }
 .project:hover .project-arr{
  margin: 0;
  width: 25px;
 }